@font-face {
	font-family: "Muller";
	src: url("../fonts/MullerLight.woff2") format("woff2"), url("../fonts/MullerLight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Muller";
	src: url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Muller";
	src: url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Muller";
	src: url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

address {
	font-style: normal;
}

input,
button,
textarea {
	font-family: Muller, sans-serif;
	font-size: 16px;
}

input::placeholder {
	color: #999;
}

input:-webkit-autofill {
	-webkit-box-shadow: inset 0 0 0 50px white;
	-webkit-text-fill-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

body {
	font-family: Muller, sans-serif;
	font-weight: 400;
	line-height: 32px;
	background-color: #f1f1f1;
	color: #333;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

header .link {
	color: #666;
}

.header__up {
	padding: 30px 0 26px;
}

.header__logo {
	transition: box-shadow 0.3s ease-out;
}
.header__logo:hover .header__logo-img {
	box-shadow: 0 0 10px #cc9933;
	border-radius: 12px;
}

.header__tel {
	position: relative;
	padding: 16px 25px;
	margin-right: auto;
	font-size: 22px;
	font-weight: 700;
	transition: border-bottom 0.3s ease-out;
}
.header__tel:hover::after {
	position: absolute;
	content: "";
	left: 5%;
	bottom: 10px;
	width: 70%;
	border-bottom: 3px solid #666;
}

.header__account {
	position: relative;
	display: flex;
	margin: 5px 10px 0 0;
	color: #cc9933;
}

.header__account::before {
	position: absolute;
	left: -20px;
	bottom: 10px;
	width: 15px;
	height: 15px;
	content: "";
	border-radius: 50%;
	background: url(../img/icons_arrow.png) 50% 40%/65% auto no-repeat;
	background-color: #cc9933;
	transition: left 0.5s ease-in-out;
}
.header__account:hover::before {
	left: 95%;
}

.header__down {
	padding: 11px 20px 13px;
	margin-bottom: 33px;
	border-radius: 12px;
	background-color: #fff;
}
.header__search {
}

.header__menu {
	line-height: 2.9em;
}

.menu {
	list-style: none;
}
.menu__item {
	margin-right: 15px;
	display: inline-block;
}
.menu__item > .link:hover {
	color: #cc9933;
}

.header__search {
	position: relative;
	align-self: center;
	display: flex;
	width: 355px;
	padding: 13px 15px;
	border-radius: 15px;
	background-color: #f1f1f1;
	transition: box-shadow 0.3s ease-out;
}
.header__search:hover {
	box-shadow: 0 0 10px #cc9933;
}

.search__input {
	display: block;
	z-index: 5;
	width: 300px;
	font-size: 14px;
	line-height: 1.5em;
	color: #bebebe;
	background-color: transparent;
}

.search__btn {
	position: absolute;
	z-index: 100;
	right: 21px;
	width: 22px;
	height: 22px;
	font-size: 0;
	background: url(../img/icons_search.png) 100% 50% no-repeat;
}

.now {
	padding-bottom: 29px;
}

.booking__list-item {
	margin-bottom: 23px;
}

.booking__list-item > input {
	padding: 0 10px;
	border-radius: 12px;
	background: #fff;
	line-height: 70px;
	width: 100%;
}

.heading {
	padding-left: 44px;
	margin: 41px 0 10px;
	font-size: 40px;
}

.heading > .list,
.heading > .list:visited,
.heading > .list:hover {
	text-decoration: none;
	color: #333;
}

.booking__search {
	/* display: flex;
	justify-content: start; 
	align-items: center;*/
}

.booking__search-btn {
	width: 160px;
}

.btn {
	padding: 28px 10px;
	border-radius: 12px;
	font-weight: 700;
	color: #fff;
	background: #cc9933;
	transition: color, box-shadow, 0.4s ease-in-out;
}
.btn:hover {
	color: #cc9933;
	background: #fff;
	box-shadow: 0px 0px 10px #cc9933;
}

.btn__light {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	border: 1px solid #cc9933;
	border-radius: 12px;
	font-weight: 700;
	color: #cc9933;
	transition: color, box-shadow, 0.4s ease-in-out;
}
.btn__light:hover {
	color: #fff;
	background: #cc9933;
	box-shadow: 0px 0px 10px #cc9933;
}

.booking__search-result {
	line-height: 4.8em;
	color: #999;
}

.booking__search-result span {
	font-weight: 500;
	color: #cc9933;
}

.now__offer {
	position: relative;
}

.booking__header,
.offer__header {
	padding-bottom: 16px;
}

.offer__img {
	width: 100%;
	height: 84.5%;
	object-fit: cover;
	border-radius: 12px;
}

.offer__luxury {
	position: absolute;
	left: 41px;
	z-index: 10;
	bottom: 35px;
}

.offer__luxury_header {
	width: 164px;
	font-size: 66px;
	line-height: 58px;
	font-weight: 700;
	color: #fff;
}

.offer__luxury_price {
	padding-top: 32px;
	font-size: 35px;
	color: #fff;
	opacity: 0.49;
}

.offer__luxury_info {
	position: relative;
	padding-left: 31px;
	font-size: 16px;
	color: #ffcc66;
	transition: filter, font-weight, 0.4s p;
}

.offer__luxury_info::after {
	position: absolute;
	content: "";
	right: -17px;
	top: 0px;
	width: 9px;
	height: 16px;
	background: url(../img/icons_arrow_right.png) no-repeat;
}
.offer__luxury_info:hover,
.offer__luxury_info:hover::after {
	filter: brightness(1000);
	font-weight: 800;
}
.about_us {
	padding-bottom: 18px;
}

.about_us__description {
	max-width: 975px;
	padding: 4px 43px 0;
	line-height: 33px;
}

.service {
	margin-bottom: 33px;
}

.card {
	border-radius: 12px;
	background-color: #fff;
}

.service__img,
.hotel__img {
	border-radius: 12px 12px 0 0;
}

.service__img {
	width: 100%;
}

.service__body {
	padding: 32px 44px 34px;
}

.service__body_heading > .link {
	position: relative;
	font-size: 22px;
	font-weight: 500;
	color: #cc9933;
}
.service__body_heading > .link:hover {
	box-shadow: 0 2px 0 #cc9933;
}
.service__body_heading > .link::after {
	position: absolute;
	content: "";
	right: -20px;
	top: 7px;
	width: 9px;
	height: 16px;
	background: url(../img/icons_arrow_right.png) no-repeat;
}
.service__body_heading > .link:hover::after {
	animation: puls 1s infinite;
}
@keyframes puls {
	0% {
		right: -20px;
	}
	100% {
		right: -40px;
	}
}

.privileges {
	padding-bottom: 6px;
}

.privilege {
	padding: 44px 33px 33px 44px;
	margin-bottom: 25px;
}

.privilege img {
	height: 59px;
}

.privilege__text {
	padding-top: 14px;
}

.hotels {
	padding-top: 17px;
}

.hotel {
	margin-bottom: 25px;
}

.hotel__img {
	width: 100%;
}

.hotel__body {
	position: relative;
	padding: 36px 0 42px 44px;
}

.hotel__body-text {
	color: #999;
}

.hotel__body-price {
	font-size: 22px;
	font-weight: 700;
	color: #333;
}

.four-stars,
.five-stars {
	height: 1.5em;
}
.four-stars {
	background: url(../img/four__stars.png) no-repeat;
}
.five-stars {
	background: url(../img/five__stars.png) no-repeat;
}

.hotel__number {
	margin-top: 9px;
	padding: 4px 20px;
	width: 100px;
}

.card.next {
	z-index: 50;
	height: 100%;
	display: flex;
	align-items: flex-end;
	position: relative;
	background: url(../img/hotels_09.jpg) 50% 50% / cover no-repeat;
	border-radius: 12px;
	min-height: 436px;
}

.next__heading {
	font-size: 22px;
	font-weight: 500;
	color: #fff;
	width: 100%;
	margin-left: 40px;
	margin-bottom: 40px;
	background: url(../img/icons_arrow_right_fff.png) 88% 50% / auto no-repeat;
}

.next__heading:hover::after {
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 12px;
}

.next__heading::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.contacts {
	/* display: flex;
	margin-right: 178px; 
	align-items: center; */
}

.contacts .link[href*="mailto"]:hover,
.contacts .link[href*="tel"]:hover {
	box-shadow: 0 2px 0 #cc9933;
}

.contacts > * {
	margin-right: auto;
}

.contacts__list {
	background-color: #fff;
	border-radius: 12px;
	padding: 21px 44px;
	width: 472px;
	margin-top: 31px;
}

.contacts__list-li {
	padding: 27px 0 23px;
	display: flex;
	border-bottom: 1px solid #ccc;
	line-height: 24px;
}

.contacts__list-header {
	font-size: 22px;
	font-weight: 700;
	color: #666666;
	flex: 0 0 145px;
}

.contacts__list-body {
	color: #333333;
}

.contacts__list-body.phone .link {
	display: block;
}

.contacts__list-body span {
	color: #999;
}

.contacts__list-body .link {
	color: #cc9933;
}

.contacts__btn {
	width: 214px;
	margin: 44px 0 23px;
	padding: 20px 0;
}

.feedback {
	padding-top: 38px;
	line-height: 72px;
	width: 80%;
	margin: auto;
}

.feedback__header {
	margin-left: -10px;
}

.feedback__list-input {
	line-height: 40px;
	width: 100%;
	background: #fff;
	padding: 20px 20px;
	margin-bottom: 12px;
	margin-top: 10px;
	border-radius: 12px;
}

.feedback__btn {
	width: 100%;
}

.footer {
	margin-top: 21px;
	padding: 43px 37px;
	border-radius: 12px;
	background: url(../img/logo_footer.png) 80% 100%/258px auto no-repeat #333333;
	color: #fff;
	line-height: 1.5em;
}

.contacts .link[href*="mailto"],
.contacts .link[href*="tel"],
.footer .link[href*="mailto"],
.footer .link[href*="tel"],
.footer__copyright a {
	transition: color, box-shadow, 0.3s ease-in-out;
}
.footer .link[href*="mailto"]:hover,
.footer .link[href*="tel"]:hover,
.footer__copyright a:hover {
	color: inherit;
}
.footer .link {
	display: block;
	color: #cc9933;
}
.footer__copyright {
	padding-right: 5%;
}

.footer__copyright-p {
	padding-bottom: 34px;
}

.footer__contacts-list {
	padding-bottom: 34px;
}

.footer__social {
	margin: 0 auto;
}
.footer__social-list {
	margin: 6px 0 21px 60%;
}

.facebook,
.google_plus,
.tripadvisor,
.twitter,
.vk {
	position: relative;
	display: block;
	background-image: url(../img/soc_sprite.png);
	width: 24px;
	height: 24px;
}

.facebook {
	background-position: 0px 0px;
}
.google_plus {
	background-position: -24px 0px;
}
.tripadvisor {
	background-position: 0px -24px;
}
.twitter {
	background-position: -24px -24px;
}
.vk {
	background-position: -48px 0px;
}

.google_plus:hover,
.facebook:hover,
.vk:hover,
.tripadvisor:hover,
.twitter:hover {
	animation: mirror 1s infinite;
}
@keyframes mirror {
	50% {
		transform: scale(-1, 1);
	}
}
